@font-face {
    font-family: myFont;
    src: url(assets/fuentes/call_it_skinny.ttf);
}

body {
  background-color:#E6E6E6
}
div{
   font-family: arial;
   text-align: center;
}

section{

   font-family:Helvetica;
   text-align:center
}

.button {
    background-color: #6699CC; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
